* {
    margin: 0;
}

/* sitewide font settings */

h1 {
    color: white;
    font-family: "Kanit";
    font-weight: 600;
    font-size: 40px;
}

h2 {
    color: white;
    font-family: "Roboto Slab";
    font-weight: 500;
}

p, li {
    color: white;
    font-family: "Roboto Slab";
    font-weight: normal;
    font-size: 20px;
}

a {
    color: white;
    font-family: "Roboto Slab";
    font-weight: 500;
    font-size: 20px;
}

/* form stuff */

label {
    color: #15429A;
    font-family: "Roboto Slab";
    font-weight: normal;
    font-size: 16px;
}

.header-label {
    color: #383838;
    font-size: 20px;
    font-weight: 600px;
}

textarea {
    background-color: #e8e8e8;
    border-style: none;
    border-radius: 10px;
    font-family: "Roboto Slab";
    font-size: 16px;
    padding: 10px;
}

input[type=text] {
    background-color: #e8e8e8;
    border-style: none;
    border-radius: 4px;
    font-family: "Roboto Slab";
    font-size: 16px;
    padding: 6px;
}

button {
    padding: 5px 22px;
    border: 2px;
    border-style: none;
    border-radius: 8px;
    background-color: #e8e8e8;
    font-family: "Roboto Slab";
    font-size: 16px;
    margin-top: 10px;
}

/* sitewide layouts */

/* subsection: menubar */

header nav {
    background-color: #15429A;
    display: flex;
    height: 70px;
}

#menubar-logo-link {
    margin: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
}

#menubar-logo {
    width: 50px;
}

#center-links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

#final-link {
    width: 400px;
    background-color: #c51515;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* other stuff */

section {
    padding: 100px 175px;
}

.blue-section {
    background-color: #15429A;
}

.white-section h1, .white-section h2, .white-section p, .white-section li {
    color: #15429A;
}

.red-section {
    background-color: #c51515;
}

.link-blue {
    padding: 5px 22px;
    margin: 0px 10px;
    border: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    color: white;
    text-decoration-line: none;
    transition: color 150ms linear, background-color 150ms linear;
}

.link-blue:hover {
    background-color: white;
    color: #15429A;
    transition: color 150ms linear, background-color 150ms linear;
}

.special-link-blue {
    background-color: white;
    color: #15429A;
    padding: 5px 22px;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    text-decoration-line: none;
    transition: color 150ms linear, background-color 150ms linear;
}

.special-link-blue:hover {
    background-color: #15429A;
    color: white;
}

.special-link-red {
    background-color: white;
    color: #c51515;
    padding: 5px 22px;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    text-decoration-line: none;
    transition: color 150ms linear, background-color 150ms linear;
}

.special-link-red:hover {
    background-color: #c51515;
    color: white;
}

footer {
    padding: 20px 40px;
}

/* Specific rules for homepage */

#send-a-message {
    text-align: center;
}

#send-a-message label {
    color: white;
}

#message-form {
    width: 200px;
    text-align: left;
}

/* Specific rules for make-a-candidate */

#make-a-candidate-intro {
    height: 700px;
    background-image: url("../images/Vector_Trump_Capitol.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#make-a-candidate-intro div {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    height: 130px;
    backdrop-filter: blur(4px);
}

#make-a-candidate-intro h1 {
    font-size: 60px;
    padding: 20px 30px;
}

#attributes-form {
    width: 75%;
    margin: auto;
    border: 5px;
    border-style: solid;
    border-color: #15429A;
    border-radius: 24px;
}

#select-attributes div form, #select-attributes div h1 {
    padding: 40px 40px;
}

.position-options {
    display: flex;
}

#candidate-icon {
    border: 3px;
    border-style: solid;
    border-color: #15429A;
    border-radius: 8px;
}

#candidate-creator textarea {
    width: 100%;
    height: 200px;
}

#submit-form {
    text-align: center;
}

/* specific rules for results page */
#result {
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#result h1 {
    color: #c51515;
}

#second-result {
    background-color: #15429A;
    width: 250px;
    height: 250px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#second-result h1 {
    color: white;
}